.border
{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.height-60-portal 
{
    height: 60px;
    background-color: #f1f5f8;
    padding-top: 15px;
    
}

.progress-portal
{
    height: 0.4rem;
    background-color: lightgray !important;
}
.progress-bar {
    background-color:transparent;
  
}
.height-100-portal
{
    height: 100px;
}

.border-rad-5-portal
{
    border-radius: 5px;
}

.bg-gray-portal
{
    background-color: #f7f7f7;
}
.col-lg-2-portal {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 14.2% !important;
}





    