.bg-color-gray{
    background-color: rgb(233, 233, 233);
}
.h-54{
    height: 54px;
}

.search-icon{
    position: absolute;
    top: 12px;
    
}
.z-button-white {
    background-color: white;
  text-align: center;
    border-radius: 5px;
    height: 40px;
    border: none;
    width: 43px;
  
}
.bell-icon{
    font-size: 28px;
    color:blue;
}
.z-circle-yellow {
    padding: 5px;
    top: -8px;
    margin-left: 15px;
    position: absolute;
    border-radius: 50px;
    background-color: yellow;
}
.w-35{
    width: 34px;
    -webkit-fill-available:min-height;
}
.dropdown-item {
    white-space: inherit !important;  
}
.dropdown-menu{
    min-width: 9rem !important;
    text-align: center;
}
.circle-number{
    color: #212529;
    background-color: #ffc107;
    border-radius: 50px;
    padding: .25em .6em;
    font-size: 75%;
    font-weight: 700;
    font-style: italic;
    width: 22px;
    height: 22px;
}




@media (min-width: 768px){
.col-md-2-change{
    max-width: 14.666667%;
}

}
/* For Mobile phone Screen start */
@media (max-width: 768px){
    .navbar-nav{
       display: -webkit-box;
       margin: auto;
    }
    .nav-item{
        margin: auto;
    }
}
/* For Mobile phone Screen end*/